.foot_bg {
  background-color: #06517a;
  color: #fff;
}
.Logo_text {
  font-size: 30px;
  font-family: "Bruno Ace SC", cursive;
  color: #fff;
}
.links_ul li {
  font-size: 20px;
  text-align: center;
}
.links_ul {
  list-style: none;
}
.icons {
  margin: 0 30px;
  font-size: 30px;
}

@media (max-width: 575px) {
  .social_body {
    text-align: center;
  }
}
