.recipes_card {
  border: 1px solid #06517a;
  padding: 10px;
  border-radius: 10px;
  margin: 30px 0;
}
.recipes_card img {
  width: 100%;
  height: 200px;
}
.recipes_card h3 {
  font-size: 16px;
}
.recipes_card h5 {
  margin: 20px 0;
  font-size: 16px;
  min-height: 80px;
}
.heading {
  font-family: "Dancing Script", cursive;
}
.recipes_title {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}
.rating_bg {
  background-color: #06517a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_btn {
  background-color: transparent;
  border: none;
}
.icon_btn:hover {
  background-color: transparent;
}
.Toastify__toast-theme--light {
  background-color: #06517a !important;
  color: #fff !important;
}
